/* Declarando variables de colores */
:root {
    --main-purple: rgb(117, 31, 255);
    --dark-color: rgb(15, 13, 31);
    --border-color: rgba(184,160,247, 0.2);
    --primary-text-color: rgb(255, 255, 255);
    --text-color: rgb(237, 215, 252);
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;
}

body {
    background: radial-gradient(circle, rgb(67, 53, 100) 0%, rgb(179, 176, 182) 70%);
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.container {
    display: flex;
    position: relative;
    background-color: var(--dark-color);
    margin: auto;
    min-height: 90vh;
    min-width: 200px;
    max-width: 900px;
    max-height: 90vh;
    border-radius: 10px;
    grid-template-columns: 5;
    box-shadow: 0 10px 20px rgb(0,0,0, 0.5);
    transition: none;
}

.img-div {
    height: 90vh;
    background-color: inherit;
    flex: 2;
    border-radius: inherit;
    transition: none;
}

img {
    transition: none;
    max-width: 100%;
    height: 90vh;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: inherit;
}

.login-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 3;
}

form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

h1 {
    margin: 10px 0;
    color: var(--main-purple);
    font-size: 50px;
}

h3 {
    color: var(--main-purple);
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px
}

#invalid-data-message {
    color: rgb(160, 40, 40);
    font-size: 12px;
    opacity: 0;
}


.login-input {
    margin: 5px 0px;
    padding: 4px 8px;
    border: 2px var(--border-color) solid;
    background-color: inherit;
    color: var(--main-purple);
    border-radius: 3px;
    width: 60%;
}

.login-input:focus {
    outline: none;
    border-color: var(--main-purple);
    box-shadow: 0 0 15px rgba(117, 31, 255, 0.9);
}

.login-input::placeholder {
    font-style: italic;
    color: var(--border-color);
    font-weight: bold;
}

.login-button {
    margin: 5px 0px;
    text-align: center;
    padding: 4px;
    border: 2px var(--border-color) solid;
    background-color: inherit;
    color: var(--border-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    width: 60%;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;
}

.login-button:hover {
    background-color: var(--main-purple);
    border-color: transparent;
    color: var(--text-color);
    box-shadow: 0 0 15px rgba(117, 31, 255, 0.7);
}

p {
    color: rgb(63, 2, 175);
}

p a{
    color: var(--main-purple);
    text-decoration: none;
    font-weight: bold;
}

.vertical-line {
    width: 1px;
    background-color: var(--border-color);
    height: 70%; /* 70% del alto del contenedor */
    align-self: center; /* Centra verticalmente la línea */
    position: absolute;
    left: 36%
}

@media screen and (max-width: 650px) {
    .vertical-line {
        display: none;
    }

    .img-div {
        display: none; /* Oculta la imagen cuando la pantalla es estrecha */
    }
    .login-container {
        width: 100%; /* Ancho completo para el formulario */
        float: none; /* Cancela cualquier flotante */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    form {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}