/* Declarando variables de colores */
:root {
    --main-purple: rgb(94, 25, 255);
    --dark-board-color: rgb(21, 16, 46); 
    --board-color: rgb(15, 13, 31);
    --card-color: rgb(30, 24, 61);
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(138, 137, 137);
    --text-color: rgb(237, 215, 252);
}

* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    color: var(--text-color)
}

body {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header, .todo-div, .daily-goal-div, .daily-goals-card, .todo-div, #weekly-goals-stats-div, #daily-progress-div, .sep, #daily-goals-config-card, .daily-goals-div
{ background-color: var(--card-color); }

.navbar-div, .daily-goals-card, .confirm-task-button:hover, .confirm-edit-button:hover, .remove-task-button:hover, .edit-task-button:hover, .confirm-goal-button:hover, .remove-goal-button:hover, .edit-goal-button:hover, .side-div, .delete-button:hover, .navbar-div button
{ background-color: var(--board-color); }

.container, #create-task-button:hover, #create-goal-button:hover, .task-div:hover, .daily-goal-div:hover, .goal-div:hover, #form-div, #close-form-button, #create-event-button:hover, .event-div:hover, .delete-button
{ background-color: var(--dark-board-color); }

.navbar-div-button, .main-div, .board-div, .todo-and-stats-div, #create-task-button, .task-chekbox, .confirm-task-button, .confirm-edit-button, .remove-task-button, .edit-task-button, .task-input, .confirm-goal-button, .remove-goal-button, .edit-goal-button, .goal-input, .calendar-div, #create-event-button, .event-form-input, #eventSubmitButton
{ background-color: transparent; }

.navbar-div button:hover, .navbar-div #logo:hover, .greeting-message, .calendar-day.today:hover, .event-div:hover .event-title, #close-form-button:hover
{ color: var(--primary-text-color) }

.event-time, .event-desc, #eventSubmitButton, .event-form-input, .event-form-input::placeholder, .calendar-weekday, .task-checkbox:checked + .task-text, .confirm-task-button, .confirm-edit-button, .remove-task-button, .edit-task-button, .task-input, .confirm-goal-button, .remove-goal-button, .edit-goal-button,  .goal-input , #create-task-button, .date-info-header, .navbar-div button
{ color: var(--secondary-text-color); }

.event-title, #create-event-button:hover, #close-form-button, .calendar-day:hover, .calendar-header button:hover, #create-task-button:hover, #create-goal-button:hover, #clock
{ color: var(--main-purple); }

.task-input:focus, .goal-input:focus, #close-form-button:hover, #close-form-button:focus, .event-form-input:focus
{ outline: none; }

.container {
    margin: auto;
    height: 100vh;
    display: flex;
}

/* Navbar */
.navbar-div {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100%;
}
    #logo {
        padding: 30px 0;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        transition: color 0.5s ease, background-color 0.5s ease;
    }

    .navbar-div button {
        border: none;
        font-size: 20px;
        padding: 30px 0;
        transition: color 0.5s ease, background-color 0.5s ease;
    }

    .navbar-div button:hover, .navbar-div #logo:hover {
        background-color: var(--main-purple);
        text-shadow: 0 0 5px rgba(237, 215, 252, 0.8);
        cursor: pointer;
    }

/* Center */
#daily-goals-config-div {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#daily-goals-config-card {
    padding: 10px;
}

#create-goal-button {
    display: block;
    width: 95%;
    height: 40px;
    margin: auto;
}

.main-div {
    flex: 10;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    overflow: hidden;
}

    header {
        margin: 10px 0;
        padding: 10px 10px;
        box-shadow: 0 3px 10px rgba(15, 13, 31, 0.7);
    }

        .greeting-message {
            font-weight: lighter;
        }

        .day-text {
            font-weight: bold;
        }

        .date-info-header {
            font-weight: lighter;
            font-style: italic;
        }

        .board-text {
            font-size: 20px;
            margin-bottom: 5px;
            padding: 5px;
        }

    .board-div {
        display: flex;
        margin-top: 20px;
        padding: none;
        gap: 15px;
        overflow: hidden;
        transition: color 0.5s ease, background-color 0.5s ease;
    }
            
        .daily-goals-div {
            display: flex;
            flex-direction: column;
            flex: 3;
            box-shadow: 0 3px 10px rgba(15, 13, 31, 0.9);
            padding: 10px;
            box-sizing: border-box;
            min-width: 250px;
        }

            .todo-and-stats-div {
                display: flex;
                flex-direction: column;
                gap: 15px;
                flex: 6;
                min-width: 450px;
            }

                .todo-div {
                    max-height: 260px;
                    flex: 2;
                    box-shadow: 0 3px 10px rgba(15, 13, 31, 0.9);
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    box-sizing: border-box;
                }

                    /* Todo el contenido del todo-div */
                    #create-task-button {
                        width: 95%;
                        border: none;
                        font-size: 20px;
                        padding: 0;
                        margin: 5px;
                        transition: color 0.5s ease, background-color 0.5s ease;
                    }

                    /* Contenedor de cada tarea que se agregue */
                    .tasks-container, .daily-goals-container {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        justify-content: space-between;
                        overflow-y: auto;
                        /* Personalización de la scrollbar del div */
                        scrollbar-width: thin; /* Ancho de la scrollbar */
                        scrollbar-color: transparent transparent; /* Color de la scrollbar y del fondo */
                        transition: scrollbar-color 0.3s ease;
                    }

                    .tasks-container:hover, .daily-goals-container:hover {
                        scrollbar-color: var(--main-purple) transparent;
                    }

                    /* Div que se crea por cada tarea agregada */
                    .task-div, .daily-goal-div, .goal-div {
                        display: flex;
                        gap: 4px;
                        margin: 1px;
                        padding: 0 5px;
                        align-items: flex-start;
                        justify-content: space-between;
                        transition: background-color 0.3s ease;
                    }

                    /* Todo el contenido de cada task-div */
                    .task-checkbox {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        min-width: 20px; /* Ajusta el tamaño del checkbox */
                        min-height: 20px; /* Ajusta el tamaño del checkbox */
                        border: 2px var(--main-purple) solid; /* Color del borde */
                        border-radius: 50%; /* Hace que el checkbox sea redondo */
                        display: flex;
                        margin: 10px 5px;
                        box-shadow: 0 0 5px rgba(117, 31, 255, 0.7);
                    }
                    
                    .task-checkbox:checked {
                        border: none; /* Mantiene el borde del mismo color que el fondo */
                        background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20.2929 6.29289C20.6834 6.68342 20.6834 7.31658 20.2929 7.70711L10.7071 17.2929C10.3166 17.6834 9.68342 17.6834 9.29289 17.2929L3.70711 11.7071C3.31658 11.3166 3.31658 10.6834 3.70711 10.2929C4.09763 9.90237 4.7308 9.90237 5.12132 10.2929L10 15.1716L18.8787 6.29289C19.2692 5.90237 19.9024 5.90237 20.2929 6.29289Z" fill="white"%3E%3C/path%3E%3C/svg%3E');
                        background-size: 70%; /* Ajusta el tamaño del tilde */
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: var(--main-purple);
                    }
                    
                    .task-text, .daily-goal-text, .goal-text {
                        flex: 1;
                        justify-content: flex-start;
                        font-size: 14px;
                        margin: 10px 0;
                        padding: 0 10px;
                        word-break: break-word; /* Romper palabras largas */
                        overflow-wrap: break-word; /* Asegura el ajuste del texto */
                        white-space: normal; /* Permitir saltos de línea automáticos */
                    }

                    /* Modificando el texto al completar la tarea (marcar el checkbox) */
                    .task-checkbox:checked + .task-text {
                        font-style: italic;
                        text-decoration: line-through;
                    }

                    /* Botones (contenido) de cada task-div */
                    .confirm-task-button, .confirm-edit-button, .remove-task-button, .edit-task-button, .task-input, .confirm-goal-button, .remove-goal-button, .edit-goal-button, .goal-input {
                        border: none;
                        padding: 5px;
                        margin: 5px 0;
                    }

                    /* Para que no se centre todo el contenido si la tarea es muy corta */
                    .task-input, .goal-input {
                        width: 90%;
                    }

                    /* Los botones no serán visibles a menos que el usuario pase el cursor sobre la tarea */
                    .confirm-task-button, .confirm-edit-button, .remove-task-button, .edit-task-button, .confirm-goal-button, .remove-goal-button, .edit-goal-button {
                        opacity: 0;
                    }

                    /* Mostrar los botones al hacer hover en el div de la tarea */
                    .task-div:hover .confirm-task-button, .task-div:hover .confirm-edit-button, .task-div:hover .remove-task-button, .task-div:hover .edit-task-button, .goal-div:hover .confirm-goal-button, .goal-div:hover .remove-goal-button, .goal-div:hover .edit-goal-button {
                        opacity: 1; /* Mostrar botones */
                    }
                        
                    .stats-div {
                        flex: 1;
                        display: flex;
                        overflow: hidden;
                        justify-content: space-between;
                        gap: 15px;
                    }

                    #weekly-goals-stats-div {
                        display: flex;
                        flex: 3;
                        padding: 10px;
                        box-shadow: 0 3px 10px rgba(15, 13, 31, 0.9);
                        justify-content: center;
                        align-items: center;
                    }

                    #daily-progress-div {
                        display: flex;
                        flex: 1;
                        padding: 10px;
                        box-shadow: 0 3px 10px rgba(15, 13, 31, 0.9);
                    }

                    #weekly-progress-chart, #daily-progress-chart {
                        width: 90%;
                    }

/* Side */
.side-div {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}
    
    .clock-div {
        display: flex;
        flex: 1;
    }

        .false-clock {
            margin: auto;
            padding: 10px;
            font-weight: bold;
            font-size: 50px;
            text-align: center;
        }

    .calendar-div {
        font-size: 12px;
        flex: 2;
        transition: color 0.5s ease;
    }
    
        .calendar-header {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            transition: color 0.5s ease;
        }
        
        .calendar-header button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 20px;
            transition: color 0.5s ease;
        }
        
        .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            align-items: center;
        }
        
        .calendar-day {
            padding: none;
            margin: 5px;
            text-align: center;
            cursor: pointer;
        }

        .calendar-weekday {
            margin: 5px;
            font-weight: bold;
            text-align: center;
        }

        .calendar-day.today {
            background-color: var(--main-purple);
            font-weight: bold;
            border: 2px solid var(--main-purple); /* O cualquier estilo que prefieras */
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(117, 31, 255, 0.9);
            padding: 2px 0;
        }

        .schedule-div {
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            flex: 3;
            margin: auto;
            margin-top: 10px;
            padding: 5px;
            overflow-y: auto;
            /* Personalización de la scrollbar del div */
            scrollbar-width:thin ; /* Ancho de la scrollbar */
            scrollbar-color: transparent transparent; /* Color de la scrollbar y del fondo */
            transition: scrollbar-color 0.3s ease;
        }
    
        .schedule-div:hover {
            scrollbar-color: var(--main-purple) transparent;
        }
    
            .schedule-title {
                margin: 5px;
            }

    .sep {
        display: flex;
        width: 90%;
        height: 1px;
        margin: auto;
    }

/* FORM */
#form-div {
    display: none;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 25%;
    height: 75%;
    margin: auto;
    padding: 40px 10px;
    flex-direction: column;
    text-align: center;
    position: relative; /* Necesario para la posición absoluta del botón de cerrar */
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

#form-bg {
    background-color: rgba(21, 16, 46, 0.6);
    display: none;
    position: fixed;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
}

#close-form-button {
    display: inline-block;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.event-form-input {
    margin: 5px 0px;
    padding: 7px;
    border: 2px var(--card-color) solid;
    width: 70%;
}

.event-form-input::placeholder {
    font-style: italic;
    font-weight: bold;
    border: 2px;
}

.event-form-input:focus {
    border-color: var(--main-purple);
    box-shadow: 0 0 10px rgba(117, 31, 255, 0.7);
}

#eventSubmitButton {
    margin: 5px 0px;
    padding: 7px;
    border: 2px var(--card-color) solid;
    width: 70%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#eventSubmitButton:hover {
    background-color: var(--main-purple);
    border: 2px var(--main-purple) solid;
    box-shadow: 0 0 15px rgba(117, 31, 255, 0.7);
    color: var(--primary-text-color)
}

#create-event-button {
    border: none;
    color: rgb(78, 78, 78);
    font-size: 20px;
    padding: 0;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.event-div {
    display: flex;
    margin: 5px 0;
    padding: 2px;
    position: relative;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.info-div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 77%;
    border-left: 4px solid var(--card-color);
}
.event-title-div {
    display: flex;
    align-items: flex-start; /* Cambiado a flex-start para alinear los elementos en la parte superior */
}

.event-title {
    
    font-size: 14px;
    text-align: left;
    justify-content: space-between;
}

.event-desc {
    font-size: 14px;
}

.event-time {
    align-content: center;
    font-size: 12px;
    width: 23%;
}

.delete-button {
    display: none;
    border: none;
    font-size: 10px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.event-div:hover .delete-button {
    display: flex;
}

.container, .navbar-div, #logo, .navbar-div button, #daily-goals-config-card, .main-div, .board-div, .daily-goals-div, .todo-and-stats-div, .todo-div, .tasks-container, .daily-goals-container, .stats-div, .side-div, .clock-div, .calendar-div, .schedule-div, #form-bg
{ width: 100%; }

#daily-goals-config-card, .main-di, .board-div, .daily-goals-div, .todo-and-stats-div, .todo-div, .stats-div, #weekly-progress-chart, #daily-progress-chart, .side-div, .calendar-div, .schedule-div, #form-bg
{ height: 100%; }

@media screen and (max-width: 1200px) {
    .side-div {
        display: none;
    }
    .board-div {
        overflow: auto;
        display: block;
        scrollbar-width: thin; /* Ancho de la scrollbar */
        scrollbar-color: transparent transparent; /* Color de la scrollbar y del fondo */
    }
    .main-div {
        overflow: auto;
    }
    .daily-goals-div {
        height: 300px;
        margin-bottom: 10px;
    }
    .stats-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 800px;
    }
    #daily-progress-div,  #weekly-goals-stats-div {
        height: 250px;
        padding: 10px;
    }
}

@media screen and (max-width: 950px) {
    .container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        display: block;
        scrollbar-width: thin; /* Ancho de la scrollbar */
        scrollbar-color: transparent transparent; /* Color de la scrollbar y del fondo */
    }
    .navbar-div {
        margin-bottom: 20px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .navbar-div button {
        padding: 10px 0;
    }
    .stats-div {
        min-height: 150px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    #daily-progress-div {
        padding: 50px 100px;
    }
    #weekly-goals-stats-div {
        margin-bottom: 10px;
        height: 200px;
        padding: 10px;
    }
}

@media screen and (max-width: 780px) {
    .daily-goals-div, .daily-goals-card, .todo-and-stats-div, .stats-div {
        width: 100%;
        min-width: 300px;
        margin: 15px 0;
    }
    .navbar-div {
        height: 30px;
        justify-content: center;
        align-items: center;
    }
    .container, .main-div, .board-div, .todo-and-stats-div {
        display: block;
    }
    .stats-div {
        display: block;
        margin-bottom: 10px;
    }
    .container, .todo-and-stats-div, .stats-div {
        overflow: auto;
    }
    #weekly-goals-stats-div {
        height: 250px;
    }
    #daily-progress-div {
        padding: 30px;
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    #logo {
        display: none;
    }
}